@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Outfit';
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: space-between;
    background: #0D192C;

    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 350px;
    max-height: 596px;
    border-radius: 20px;
    padding: 25px;
    padding-bottom: 50px;
    gap: 30px;

    color: white;
    background: #15263F;

}
/* IMAGE */
img.nft {
    width: 350px;
    height: 350px;

/* HEADLINE */
}
h1 {
    font-size: 22px;
    font-weight: 900;
}

/* DESCRIPTION */
.description {
    font-size: 18px;
    font-weight: 300;
    color: #8BACD9;
}

/* CURRENCY AND TIME */
.currency {
    display: flex;
    flex-direction: row;
    gap: 10px;

    height: 20px;
    font-weight: bold;
    color: cyan;
}
.currency-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    color: #8BACD9;

}
.currency img {
    max-width: 20px;
}
.time {
    display: flex;
    flex-direction: row;
    gap: 10px;

    height: 20px;
}

/* LINE */
hr {
    width: 350px;
    border: 1px solid #2E405A;
}

/* CREDIT */
.creator {
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.profile-picture {
    height: 20px;
}

.creation-of {
    color: #8BACD9;
}

.creator-name {
    font-weight: bold;
}



